* {
    font: "JetBrainsMonoNL Nerd Font Propo 12";

    background:      #2d353bFF;
    background-alt:  #3D484DFF;
    foreground:      #d3c6aaFF;
    accent:          #678140FF;

    highlight:        #83c092FF;

    active:          #a7c080FF;
    urgent:          #e67e80FF;
}